/* ____________________________________________________ */
/* ____________________________________________________ */
/* ____________________________________________________ */
/* BOOT STRAP STYLES __________________________________ */
/* ____________________________________________________ */
/* ____________________________________________________ */
.appHeader,
.sideBarUserInfo {
    height: 100px;
}
.logo img,
.profileImg img {
    width: 100px;
    height: 50px;
    object-fit: scale-down;
}
.profileImg img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
}
.appHeader .profileImg {
    padding-right: 15px;
    /* padding-left: 15px; */
}
.appSidebar .profileImg {
    /* padding-right: 15px; */
    padding-left: 15px;
}
