/* ____________________________________________________ */
/* ____________________________________________________ */
.active {
    display: block;
}
body,
a {
    text-decoration: none;
}
#content {
    margin: 0 auto;
    margin-top: 43px;
    height: 500px;
}
.profileImg {
    width: 25px;
    height: 25px;
    object-fit: cover;
}
.w3-modal {
    display: block;
}
.image-midd {
    width: 300px;
    height: auto;
}
.image-small {
    width: 100px;
    height: auto;
}
